{% extends 'base.html' %}

{% block title %}
New article
{% endblock %}

{% block page %}
Add new article
{% endblock %}

{% block body %}
<div id='newArticle'> 
          <form method="post">
                    <input type="text" name="title" id="title" placeholder="Name of the article"><br>
                    <textarea name="intro" id="intro" placeholder="Intro of the article"></textarea><br>
                    <textarea name="text" id="text" placeholder="Text of the article"></textarea><br>
                    <input type="submit" value="Save new article">
          </form>
</div>
{% endblock %}